@model Insurance_Company.Models.VidyPolisov

@{
    ViewData["Title"] = "Удаление — ";
}

<h1 style="color:firebrick">Удаление</h1>

<h3>Вы дествительно хотите удалить это?</h3>
<br>
<div>
    <h4>Виды полисов</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naimenovanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naimenovanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opisanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opisanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usloviya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usloviya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodRiskaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodRiskaNavigation.Naimenovanie)
        </dd class>
    </dl>
    <br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="KodVidaPolisa" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
